security:
  globalJobDslSecurityConfiguration:
    useScriptSecurity: false

jenkins:
  systemMessage: "Welcome to the Chocolatine-Powered Tili Jenkins Instance."

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          name: "Admin"
          password: "{{ admin_password }}"

  authorizationStrategy:
    roleBased:
      roles:
        global:
          - name: "admin"
            description: "Administrator role with all permissions"
            permissions:
              - "Overall/Administer"
            entries:
              - user: "admin"

credentials:
  system:
    domainCredentials:
      - credentials:
          - basicSSHUserPrivateKey:
              scope: GLOBAL
              id: "git-ssh-key"
              username: "git"
              description: "Git SSH Key for repository access"
              privateKeySource:
                directEntry:
                  privateKey: |
                    {{ ssh_key_content.content | b64decode | indent(20) }}

jobs:
  - file: "{{ jenkins_home }}/job_dsl.groovy"