/* INITIALIZATION JOBS */
freeStyleJob('Init EIP repository') {
    description('Initializes the EIP repository with the necessary files for the pipeline.')
    steps {
        shell('''
            #!/bin/bash
            set -e

            clone_or_pull() {
                local repo="$1"
                local dest="$2"
                if [ -d "$dest/.git" ]; then
                    git -C "$dest" pull origin main
                else
                    rm -rf "$dest"
                    git clone "$repo" "$dest"
                fi
            }

            clone_or_pull "{{ epitech_repository_url }}" "{{ tili_dir }}"
            clone_or_pull "{{ backend_repository_url }}" "{{ tili_dir }}/backend" && cp -f {{ jenkins_home }}/environment/backend/.env {{ tili_dir }}/backend/.env && echo "FROM go-tili:latest" > {{ tili_dir }}/backend/app/Dockerfile
            clone_or_pull "{{ webapp_repository_url }}" "{{ tili_dir }}/webapp" && cp -f {{ jenkins_home }}/environment/frontend/.env {{ tili_dir }}/webapp/.env && echo "FROM javascript-tili:latest" > {{ tili_dir }}/webapp/Dockerfile
            clone_or_pull "{{ mobile_repository_url }}" "{{ tili_dir }}/mobile"

            cp {{ jenkins_home }}/tili_jobs.groovy .
            docker network create tili-network || true
        ''')
        jobDsl {
            targets 'tili_jobs.groovy'
        }
    }
}



/* IMAGES JOBS */
folder('Images') {
    description('Folder for Docker images')
}

freeStyleJob('Images/Flutter') {
    description('Builds the Flutter base image.')
    steps {
        shell('''
            docker build -t flutter-tili - < {{ jenkins_home }}/images/flutter/Dockerfile
        ''')
    }
}

freeStyleJob('Images/Javascript') {
    description('Builds the Javascript base image.')
    steps {
        shell('''
            docker build -t javascript-tili - < {{ jenkins_home }}/images/javascript/Dockerfile
        ''')
    }
}

freeStyleJob('Images/Go') {
    description('Builds the Go base image.')
    steps {
        shell('''
            docker build -t go-tili - < {{ jenkins_home }}/images/go/Dockerfile
        ''')
    }
}
