/* EIP JOBS */
folder('EIP') {
    description('Folder for EIP pipeline jobs')
}

freeStyleJob('EIP/Push to Production') {
    description('Pushes the EIP repository to production.')
    triggers {
        scm('H/5 * * * *')
    }
    steps {
        shell('''
          set -e
          cd {{ tili_dir }}

          git config user.email "jenkins@jenkins.local"
          git config user.name "Jenkins"

          git -C backend pull origin main
          git -C webapp pull origin main
          git -C mobile pull origin main
          rm -rf backend/.git webapp/.git mobile/.git

          git rm --cached backend webapp mobile 2>/dev/null || true

          git pull origin main
          git add backend webapp mobile
          git diff --cached --quiet || git commit -m "Automated commit from Jenkins"
          git push origin main

          git clone {{ backend_repository_url }} /tmp/backend_restore
          mv /tmp/backend_restore/.git backend/.git
          rm -rf /tmp/backend_restore

          git clone {{ webapp_repository_url }} /tmp/webapp_restore
          mv /tmp/webapp_restore/.git webapp/.git
          rm -rf /tmp/webapp_restore

          git clone {{ mobile_repository_url }} /tmp/mobile_restore
          mv /tmp/mobile_restore/.git mobile/.git
          rm -rf /tmp/mobile_restore
        ''')
    }
}



/* BACKEND JOBS */
folder('EIP/Backend') {
    description('Folder for EIP backend jobs')
}

freeStyleJob('EIP/Backend/Run Go Backend') {
    description('Runs the Go backend using the go-tili image.')
    steps {
        shell('''
            docker stop tili-backend || true
            docker rm tili-backend || true

            docker compose -f {{ jenkins_home }}/Tili/backend/docker-compose.yml up --build -d
        ''')
    }
}

freeStyleJob('EIP/Backend/Remove Backend Volumes') {
    description('Removes the backend volumes to reset the database.')
    steps {
        shell('''
            docker compose -f {{ jenkins_home }}/Tili/backend/docker-compose.yml down -v
        ''')
    }
}



/* FRONTEND JOBS */
folder('EIP/Frontend') {
    description('Folder for EIP frontend jobs')
}

freeStyleJob('EIP/Frontend/Run Frontend') {
    description('Runs the frontend using the javascript-tili image.')
    steps {
        shell('''
            docker stop tili-frontend || true
            docker rm tili-frontend || true

            docker build -t tili-frontend {{ tili_dir }}/webapp
            docker run -d --name tili-frontend --network tili-network -p 3000:3000 tili-frontend
        ''')
    }
}
